.pre_footer {
    background-color: #F5F7FA;
    height: 300px;
    padding: 20px 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    text-align: center;
}

.pre_footer_content h1{
font-size: 64px;
width: 887px;
color: #4D4D4D;
margin-bottom: 30px;
}

.pre_footer_content button{
    padding: 14px 32px;
    border-radius: 4px;
    gap: 8px;
    background-color: #4CAF4F;
    color: white;
    border: none;

}

footer {
    padding: 150px 12%;
    width: 100%;

    background-color: #263238;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer_column_one{
    flex: 25%;
}

.footer_column_one img{
    width: 80%;
    gap: 0 30px;
}

.footer_column_one_content {
    margin-top: 30px;
}

.footer_column_one_content  p{
    color: white;
}

.footer_column_two {
    flex: 25%;
}

.footer_column_two_content h1{
    color: white;
}

.footer_column_two_content ul {
    list-style: none;
}


.footer_column_two_content ul li {
    margin-top: 10px;
}

.footer_column_two_content ul li a {
    color: white;
    text-decoration: none;
}

.footer_column_three {
    flex: 25%;
}

.footer_column_four {
    flex: 25%;
}

.footer_column_four h1{
    color: white;
}

.footer_column_four input {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.234);
    padding: 0 20px;
    margin-top: 20px;
}

.footer_column_four input::placeholder {
    color: white;
}